extends _layout1
block pagecontent
    body.skin-blue
      include ./parts/top
      div.wrapper.row-offcanvas.row-offcanvas-left
            include ./parts/menu
            aside.right-side
              section.content-header
                h1  Yeni Role
                  small            
                ol.breadcrumb
                  li
                    a(href='#')
                      i.fa.fa-dashboard
                      |  Haftalık
                  |                         
                  li.active İçerik Ekle
              section.content
                .row
                  .col-md-11
                    #loading-example.box.box-danger
                      .box-header
                        .row
                          .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                           input#permission_name.form-control(type='text', placeholder='İzin Adı Giriniz')
                           br 
                           input#permission_id.form-control(type='text', placeholder='İzin Id Giriniz.Example(0,1,2)')
                          .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                            input#permission_url.form-control(type='text', placeholder='Url Adı Giriniz.Example(Kategori,User)')
                            br  
                            input#permission_pageName.form-control(type='text', placeholder='Sayfa Adı Giriniz')

                          .col-xs-4(style="position:relative;right:150px;top:30px")
                            a.pull-right.btn.btn-primary(href="javascript:addPermission()") KAYDET
                            
                        br    
                        .pull-right.box-tools
                          button.btn.btn-danger.btn-sm(data-widget='collapse', data-toggle='tooltip', title='Collapse')
                            i.fa.fa-minus
                        // /. tools
                        i.fa.fa-user
                        h3.box-title 
                        br
                        br
                        br
                        .box-body.table-responsive
                          table#example1.table.table-bordered.table-striped
                            thead
                              tr
                                th(style="width:25px;") #
                                th İzin Adı
                                th Url
                                th Sayfa Adı
                                th İzin No
                                th #
                            tbody.us
                            tfoot
                              tr
                                th #
                                th İzin Adı
                                th Url
                                th Sayfa Adı
                                th İzin No
                                th #
                        // /.box-body
                      .box-footer
                        .row
                          .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                           input#rol_name.form-control(type='text', placeholder='Rol Adı Giriniz')
                          .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                       
                          .col-xs-4
                            a.pull-right.btn.btn-primary(href="javascript:save('role')") KAYDET
              section.content
                .row
                  .col-md-11
                    #loading-example.box.box-danger
                      .box-header
                        // tools box
                        .pull-right.box-tools
                          button.btn.btn-danger.btn-sm(data-widget='collapse', data-toggle='tooltip', title='Collapse')
                            i.fa.fa-minus
                        // /. tools
                        i.fa.fa-user
                        h3.box-title 
                        br
                        br
                        br
                        .box-body.table-responsive
                          table#example2.table.table-bordered.table-striped
                            thead
                              tr
                                th Rol Adı
                                th Ekli İzinler
                                th Ekli Kişiler
                                th #
                            tbody.role_list
                            tfoot
                              tr
                                th Rol Adı
                                th Ekli İzinler
                                th Ekli Kişiler
                                th #

  block scripts 
    script(src="/static/js/admin/plugins/datatables/jquery.dataTables.js" type="text/javascript")
    script(src="/static/js/admin/plugins/datatables/dataTables.bootstrap.js" type="text/javascript")
    script(type="text/javascript").
      var us_izin=[];
      $(document).ready(function(){
        getList();
      });

      function addPermission(){
        var data = {
            permissionName : $("#permission_name").val(),
            permissionId   : $("#permission_id").val(),
            permissionUrl  : $("#permission_url").val(),
            permissionPage : $("#permission_pageName").val()
        }
        if(($("#permission_name").val() != "") && ($("#permission_id").val() != "") && ($("#permission_url").val() != "")){
          postData('/ajax/permission',{data:data},function(result){
         });
        }
        else{
          mesaj_gonder('Ana Kategori','Lütfen Boş Alanları Doldurunuz.','#660000')
        }
      };


      function getList(){
        ////////////////////////////////izinlerin listelenmesi ////////////
        postData('/ajax/permissionList',{},function(result){
          $('.us').html("");
          result.forEach(function(role){
            $('.us').append('<tr>'+
                              '<td><input id='+role.p_id+' onclick="javascript:checkbox_change(\''+role.p_id+'\')" type="checkbox" ></div></td>'+
                              '<td>'+role.name+'</td>'+
                              '<td>'+role.url+'</td>'+
                              '<td>'+role.pageName+'</td>'+
                              '<td>'+role.p_id+'</td>'+
                              '<td><a href="javascript:sil(\''+role._id+'\',\'permission\',\'getList\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'+
                            '</tr>');
          });   
        });

        //////////////////////////////////////////////////////////////////////////
        /////////////////////////////rollerin listelenmesi ////////////////////////////
        postData('/ajax/getList',{model_list:["role"]},function(retVal){
          console.log(retVal);
          $('.role_list').html("");
          retVal.role.forEach(function(kayit){
            console.log(kayit);
            $('.role_list').append('<tr>'+
                                      '<td>'+kayit.role_name+'</td>'+
                                      '<td>'+kayit.permission.join()+'</td>'+
                                      '<td>'+kayit.eklenen_kisiler.join()+'</td>'+
                                      '<td><a href="javascript:sil(\''+kayit._id+'\',\'role\',\'getList\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'+
                                    '</tr>');
          });
        });
      }


      function checkbox_change(izin){
        if($('#'+izin).is(':checked')==true)
           us_izin.push(izin);
        else{
          var sira=us_izin.indexOf(izin);
          us_izin.splice(sira,1);
        }
        console.log(us_izin);
      }