#ribbon
    span.ribbon-button-alignment
        span#refresh.btn.btn-ribbon(data-action='resetWidgets', data-title='refresh', rel='tooltip', data-placement='bottom', data-original-title="<i class='text-warning fa fa-warning'></i> Hata! .......................",data-html="true")
            i.fa.fa-refresh
    ol.breadcrumb
        li Userp
 div.m1
    .m2 
        form.smart-form#smart-form-register(novalidate="novalidate")
            section.col
                label.select(style="width:100%;display:block;margin:0 10px;")
                    select#dash_firma
                    i
       