header.header
    a.logo(href='#')
        | Dashboard
      nav.navbar.navbar-static-top(role='navigation')
        a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only T               
          span.icon-bar                   
          span.icon-bar                    
          span.icon-bar              
        .navbar-right
          ul.nav.navbar-nav
            li.dropdown.user.user-menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.glyphicon.glyphicon-user                               
                span.ekle User
block scripts
  script(type="text/javascript").
    /*$(document).ready(function(){
      session ='!{user}';
      if(JSON.parse(session)._id){
        console.log("***********");
        console.log(JSON.parse(session)._id);
        var say =JSON.parse(session)._id;
        $('ekle').append('<a href="" class="kname" style="font-size:500px" id="'+JSON.parse(session)._id+'">'+user_name+'</a><a href="javascript:cikis()" class="logout"></a>');
      }
    });*/



          
    
    
