header.header
    a.logo(href='index.html')
        | Dashboard
      nav.navbar.navbar-static-top(role='navigation')
        a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only T               
          span.icon-bar                   
          span.icon-bar                    
          span.icon-bar              
        .navbar-right
          ul.nav.navbar-nav
            li.dropdown.user.user-menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.glyphicon.glyphicon-user                               
                span User
