header.header
    a.logo(href='#')
        | Dashboard
      nav.navbar.navbar-static-top(role='navigation')
        a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only T               
          span.icon-bar                   
          span.icon-bar                    
          span.icon-bar              
        .navbar-right
          ul.nav.navbar-nav
            li.dropdown.user.user-menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.glyphicon.glyphicon-user                               
                span.ekle User

          ul.nav.navbar-nav
            li.dropdown.user.user-menu
              a#logout(href='#', onclick="logout();")
                i.glyphicon.glyphicon-off                               
                span.ekle Çıkış

          

block scripts
  script(type="text/javascript").
    function logout(){
      session ='!{user}';
      console.log(session);
      var aydi = JSON.parse(session)._id;
      postData('/ajax/logout',{id :aydi},function(retVal){
        window.location="/pg/index";
      });
    };
    


          
    
    
